body{
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/photo-1527193874670-bf698eaa3d47.jpg);
    background-size: 100%;
}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    z-index: 10;
}

header h1{
    text-align: center;
    color: white;
}

.top-wrapper{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.top-wrapper h3{
    text-align: center;
}

.progress{
    height: 30px;
    width: 100%;
    background-color: #e3dfde;
    border-radius: 33px;
    position: relative;
    color: black;
}

.value{
    background-color: blue;
    display: inline-block;
    height: 100%;
    border-radius: 33px;
}

.progress::before{
    content: attr(data-label);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 5px;
}